<template>
  <section>
    <div v-html="data['description']" class="content"/>
    <WorldMap />
  </section>
</template>

<script>

export default {
  name: "About",
  props: ['data']
}
</script>

<style scoped>
.content {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .content {
    width: 100%;
  }
}
</style>
