<template>
  <section>
    <div v-if="data.description" v-html="data.description" class="description" />
    <div class="container address-container" v-if="data.address">
      <h2>Address</h2>
      <span>{{ data.address }}</span>
    </div>
    <div class="container phone-container" v-if="data.phone">
      <h2>Mobile number</h2>
      <a :href="'tel:'+data.phone">{{ data.phone }}</a>
    </div>
    <div class="container email-container" v-if="data.email">
      <h2>Email address</h2>
      <a :href="'mailto:'+data.email">{{ data.email }}</a>
    </div>
    <div class="container social-container">
      <h2>Social profiles</h2>
      <Social :items="data.social" />
    </div>
    <div class="container contact-form">
      <h3 class="form-title">Contact Form</h3>
      <form class="w-full max-w-lg">
        <div class="w-full">
          <input
            @keydown="response=''"
            v-model="reply_to"
            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="email"
            type="email"
            placeholder="your@email.com">
        </div>
        <div class="w-full max-w-lg">
          <textarea
            @keydown="response=''"
            v-model="message"
            class=" no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none"
            id="message"
            placeholder="Message" />
        </div>
        <div class="w-full max-w-lg">
          <button class="form-btn" type="button" @click="sendEmail()">Send</button>
          <div class="response" v-if="response">{{response}}</div>
        </div>
      </form>
    </div>
    <div class="container cv-container">
      <a :href="data['cv']" class="download-btn" download="cv.pdf" target="_blank">Download my CV</a>
    </div>
  </section>
</template>

<script>
import emailjs from '@emailjs/browser';
export default {
  name: "Contact",
  props: ['data'],
  data () {
    return {
      subject: 'contact-form',
      message: '',
      reply_to: '',
      response: ''
    }
  },
  mounted() {
    emailjs.init('ItuUGrJMDG1ofvK2X');
  },
  methods: {
    sendEmail() {
      if(this.subject !== '' && this.message !== '' && this.reply_to !== '' ){
        emailjs.send("service_m1l979s","template_6fp2kkj",{
          subject: this.subject,
          message: this.message,
          reply_to: this.reply_to,
        }).then(res => {
          if(res.status === 200){
            this.response = 'Thank you for your message!';
            this.message = '';
            this.reply_to = '';
          }
        });
      }
    }
  }

}
</script>

<style scoped>
.description{
  text-align: center;
}
.container{
  margin: 50px 0;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 25px;
  margin: 5px 0 15px;
  font-weight: bold;
  color: #4b5563;
  border-bottom: 1px solid;
}
.social-container::v-deep .social{
  margin: 0 4px;
  font-size: 40px;
  color: #4b5563;
}
.download-btn{
  background: #4b5563;
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px #929292;
  text-shadow: 1px 1px black;
}
.form-btn{
  background: #374151;
  width: 100%;
  padding: 15px;
  margin: 0;
  line-height: 20px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}
h3.form-title{
  position: relative;
  font-family: 'FontAwesome',serif;
  color: white;
  font-size: 26px;
  font-weight: bolder;
  margin-bottom: -9px;
  z-index: 2;
  text-shadow: 0 -3px 3px #949494;
  text-align: right;
  padding: 0 20px;
}
form{
  background: white;
  white-space: pre-wrap;
  padding: 20px;
  box-shadow: 0 0 5px #949494;
  border-radius: 5px;
  z-index: 1;
  width: 100vw;
}
.response{
  padding: 15px 0 0 0;
}
@media (max-width: 1023px) {
  h3.form-title{
    text-align: center;
  }
  form{
    width: 80vw;
  }
}
</style>
