<template>
  <section>
    <div v-for="(education, title) in data">
      <h2 class="sub-title">{{ title }}</h2>
      <div v-if="education.description" v-html="education.description" class="description" />
      <div v-if="education.items" v-for="item in education.items" class="item lg:flex">
        <div class="dates lg:w-1/6">
          <span class="from">{{ item.from }}</span> <span v-if="item.from !== item.to"> - {{ item.to }}</span>
        </div>
        <div class="item-description lg:w-5/6" v-html="item.description" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Education",
  props: ['data']
}
</script>
<style scoped>
h2.sub-title{
  margin: 30px 5px;
  text-align: center;
  color: #d2d4d8;
  font-size: 25px;
  border-bottom: 1px solid #1f2937;
  text-shadow: 1px 1px 1px black;
}
h3{
  margin: 30px 0 0px 0;
  font-size: 22px;
  text-shadow: 1px 1px 1px black;
  color: #d1d5db;
  text-align: center;
}
.dates{
  text-align: right;
  padding: 0 15px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
.description{
  text-align: center;
  font-size: 18px;
}
@media (max-width: 1023px) {
  .dates{
    text-align: center;
    padding: 10px;
  }
}
</style>
