<template>
  <section>
    <div v-for="(experience, title) in data">
      <div v-if="experience.description" v-html="experience.description" class="description" />
      <div class="flex experience-list" v-if="experience.items" v-for="item in experience.items">
        <div class="dates w-1/6">
          <span class="to">{{ item.to === "Now" ? getNow() : item.to }}</span>
          <span class="from">{{ item.from }}</span>
        </div>
        <div class="lg:flex w-5/6">
          <div class="company-image  lg:w-2/6">
            <img v-if="item.company.logo !== '' || item.company.name === ''"
                 :src="'/'+(item.company.logo === '' && item.company.name === '' ? 'noimg.jpg' : item.company.logo+'.png')"
                 @error="imageUrlAlt" />
            <div v-else class="company-name">{{ item.company.name }}</div>
          </div>
          <div class="experience-content lg:w-4/6">
            <h2 v-html="item.description" />
            <div class="tools flex" v-if="item.tools">
              <span class="tool" v-for="tool in getTools(item.tools)" v-html="tool[0]" :title="tool[1]" />
            </div>
            <div v-if="item.info" v-for="desc in item.info" v-html="desc" class="info" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Experience",
  props: ['data', 'tools'],
  methods: {
    imageUrlAlt(event) {
      event.target.src = "/noimg.jpg";
    },
    getTools(tools) {
      let list = [];
      this.tools.map(b => {
        if(b.items){
          b.items.map(i => {
            tools.includes(i.label) ? list.push([i.svg, i.label]) : null;
          });
        }
      });
      return list;
    },
    getNow() {
      const d = new Date();
      const m = d.toLocaleString('default', { month: 'short' });
      return d.getUTCDate() +" "+ m +", "+ d.getUTCFullYear()
    }
  }
}
</script>

<style scoped>
.info{
  position: relative;
}
.info:before{
  content: '';
  position: absolute;
  top: 8px;
  left: -16px;
  background: #6b7280;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}
.info::v-deep a{
  text-decoration: underline;
}
.experience-list{
  padding: 10px 0;
}
.experience-list:last-child{
  border-bottom: none;
}
.company-image{
  margin: 30px 20px;
  padding: 0 10px;
  border-right: 1px solid #6b7280;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}
.experience-content{
  padding: 30px 10px;
}
h2{
  font-size: 26px;
  font-weight: bold;
  color: #374151;
  margin-bottom: 5px;
}
.dates{
  text-align: left;
  color: white;
  line-height: 15px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px #505050;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-between;
  align-items: flex-end;
  border-right: 4px solid white;
  padding-right: 15px;
  position: relative;
}
.dates:before,
.dates:after{
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  background: #9ca3af;
  border-radius: 9999px;
  top: 0;
  right: -11px;
  border: 3px solid #ffffff;
  box-shadow: 0 0 2px black;
}
.dates:after{
  top: auto;
  bottom: -1px;
}
.description{
  text-align: center;
  font-size: 18px;
}
.company-name{
  color: #386e77;
  font-size: 21px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #d1d5db9e;
  text-align: left;
}
@media (max-width: 1023px) {
  h2{
    text-align: center;
  }
  .dates{
    text-align: center;
    padding: 10px;
    line-height: 19px;
  }
  .company-image{
    margin: 20px auto 0;
    border-right: none;
    border-bottom: 1px solid #6b7280;
    padding: 10px 0;
    height: 130px;
    align-content: center;
  }
  .company-image img{
    max-height: 100%;
  }
  .info{
    text-align: left;
    padding: 12px;
  }
  .info:before{
    position: absolute;
    top: 22px;
    left: -1px;
    background: #121d32;
    height: 6px;
    width: 6px;
    border-radius: 10px;
  }
}
</style>
