<template>
  <section id="home" style="background-image: url('/bg.jpg') ">
    <div class="hero-container">
      <div class="above-title">
        Hello, I am
      </div>
      <div class="title">
        Marios Bartzos
      </div>
      <div class="sub-title">
        Web Developer
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "HeroPage"
}
</script>

<style scoped>
section{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}
.hero-container{
  text-shadow: 1px 1px 4px black;
  color: white;
}
.above-title{
  font-family: 'Mr Dafoe', cursive;
  font-size: 50px;
  line-height: 10px;
}
.title{
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.sub-title{
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 8px;
}
@media (max-width: 1023px) {
  .hero-container{
    zoom: 0.85;
  }
}
</style>
