<template>
  <section>
    <HeroPage />
    <Page v-for="(page, i) in pages" :key="i"
          :data="page[1]"
          :path="page[0]"
          :bgClass="bgClass(i)"
          :textClass="textClass(i)"
          :tools="tools"
    />
  </section>
</template>

<script>
import { getBgColorClass, getTextColorClass } from './lib'
export default {
  name: "MainPage",
  props: ['pages', 'tools'],
  methods: {
    bgClass(i) {
      return getBgColorClass(i);
    },
    textClass(i) {
      return getTextColorClass(i);
    }
  }
}
</script>

<style scoped>

</style>
