<template>
  <section class="menu-section w-1/4">
    <div class="header bg-gray-800 text-gray-100">
      <nuxt-link :to="{path: '/', hash: 'home'}">
        Marios Bartzos
      </nuxt-link>
      <Social :items="social"/>
    </div>
    <div class="menu-container">
      <nuxt-link v-for="(item, i) in items" :key="i"
                 :to="{path: '/', hash: item.path}"
                 class="flex item"
                 :class="[bgClass(i), textClass(i)]">
        <i class="icon" :class="item.icon" /> <span class="text">{{ item.name }}</span>
      </nuxt-link>
    </div>
  </section>
</template>

<script>
import { getBgColorClass, getTextColorClass } from './lib'
export default {
  name: "Menu",
  props: ['items', 'social'],
  methods: {
    bgClass(i) {
      return getBgColorClass(i);
    },
    textClass(i) {
      return getTextColorClass(i);
    }
  }
}
</script>

<style scoped>
.menu-section{
  height: 100%;
  flex-direction: column;
  display: flex;
  position: fixed;
}
.header{
   font-family: 'Mr Dafoe', cursive;
   text-align: center;
  font-size: 30px;
  padding: 40px 20px;
 }
.menu-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-around;
}
.item{
  padding: 0 20px;
  font-size: 20px;
  height: 100%;
  align-items: center;
}
.icon{
  padding: 4px 0px;
  margin-right: 10px;
}
</style>
