<template>
  <section class="block lg:hidden">
    <div class="menu-container flex">
      <nuxt-link :to="{path: '/', hash: 'home'}" class="flex item bg-gray-800 text-gray-100"><i class="fa-solid fa-home" /></nuxt-link>
      <nuxt-link v-for="(item, i) in items" :key="i"
                 :to="{path: '/', hash: item.path}"
                 class="flex item"
                 :class="[bgClass(i), textClass(i)]">
        <i :class="item.icon" />
      </nuxt-link>
    </div>
    <div class="mobile-social-container">
      <Social :items="social"/>
    </div>
  </section>
</template>

<script>
import { getBgColorClass, getTextColorClass } from './lib'
export default {
  name: "MobileMenu",
  props: ['items', 'social'],
  methods: {
    bgClass(i) {
      return getBgColorClass(i);
    },
    textClass(i) {
      return getTextColorClass(i);
    }
  }
}
</script>

<style scoped>
.menu-container{
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.item{
  height: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.mobile-social-container{
  position: fixed;
  bottom: 0;
  right: 0;
}
.mobile-social-container::v-deep .social-container{
  flex-direction: column;
}
.mobile-social-container::v-deep .social{
  margin: 0 5px;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
}
</style>
