<template>
  <section :id="path"  class="page-container" :class="[bgClass, textClass]">
    <div class="page-content">
      <h2 class="title">{{ data.label }}</h2>
      <About v-if="path === 'about'" :data="data['content']" />
      <Skills v-else-if="path === 'skills'" :data="data['content']" />
      <Education v-else-if="path === 'education'" :data="data['content']" />
      <Experience v-else-if="path === 'experience'" :data="data['content']" :tools="tools" />
      <Projects v-else-if="path === 'projects'" :data="data['content']" :tools="tools" />
      <Contact v-else-if="path === 'contact'" :data="data['content']" />
      <div v-else v-html="data['content']" class="content" />
    </div>
  </section>
</template>

<script>
export default {
  name: "Page",
  props: ['data','path', 'bgClass', 'textClass', 'tools']
}
</script>

<style scoped>
.page-container{
  min-height: 100vh;
}
.page-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 20px;
  text-align: justify;
  font-size: 18px;
}
h2{
  font-family: 'Mr Dafoe', cursive;
  font-size: 45px;
}
.bg-gray-700 h2,
.bg-gray-600 h2,
.bg-gray-500 h2{
  text-shadow: 1px 1px 1px black;
}
.bg-gray-400 h2,
.bg-gray-300 h2,
.bg-gray-200 h2{
  text-shadow: 1px 1px 1px #cdcdcd;
}
@media (max-width: 1023px) {
  .page-content{
    padding: 65px 15px 15px 15px;
  }
}
</style>
