<template>
  <section>
    <div class="description">
      {{ data.description }}
    </div>
    <div class="projects-container">
      <div v-for="project in data.items" class="project" :class="[project.type.toLowerCase()]">
        <h3><a :href="project.link" target="_blank"><span class="icon" :title="project.type" /> {{ project.title }}</a></h3>
        <div class="tools flex" v-if="project.tools">
          <span class="tool" v-for="tool in getTools(project.tools)" v-html="tool[0]" :title="tool[1]" />
        </div>
        <div class="project-description" v-html="project.description" />
        <div class="gallery" v-if="project.images && project.images.length">
          <carousel-3d :controls-visible="true">
            <slide v-for="(image, i) in project.images" :index="i" :key="i">
              <img :data-index="i" :class="{ current: i === 0 }" v-lazy="image" />
            </slide>
          </carousel-3d>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { Carousel3d, Slide } from 'vue-carousel-3d';
export default {
  name: "Projects",
  props: ['data', 'tools'],
  components: {
    Carousel3d,
    Slide
  },
  methods: {
    getTools(tools) {
      let list = [];
      this.tools.map(b => {
        if(b.items){
          b.items.map(i => {
            tools.includes(i.label) ? list.push([i.svg, i.label]) : null;
          });
        }
      });
      return list;
    },
  }
}
</script>

<style scoped>
.projects-container .tools {
  justify-content: center;
  margin: 20px;
}
.description{
  text-align: center;
  margin-bottom: 20px;
  color: #6b7280;
}
h3{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #4b5563;
  margin: 65px 0 10px 0;
}
h3 a{
  text-decoration: underline;
}
.project-description{
  max-width: 60vw;
  color: #6b7280;
  font-size: 16px;
  line-height: 22px;
}
.icon{
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  margin-right: 15px;
}
.mobile.app .icon:before{
  content: "\f3cd";
}
.website .icon:before{
  content: "\f109";
}
.plugin .icon:before{
  content: "\f1e6";
}
.theme .icon:before{
  content: "\f5a1";
}
.mobile.app ::v-deep .carousel-3d-container{
  height: 500px!important;
}
.mobile.app ::v-deep .carousel-3d-slide,
.mobile.app ::v-deep .carousel-3d-slider{
  width: 350px!important;
  height: 500px!important;
  background: transparent;
  border: none;
}
.mobile.app ::v-deep .carousel-3d-slide img{
  width: auto;
  height: 100%;
  margin: 0 auto;
  /*border: 2px solid #9ca3af;*/
  border-radius: 15px;
}
img[src="/loading-spin.svg"],
img[src="loading"]{
  width: 80px!important;
  height: 80px!important;
  margin: 50% auto 0 auto!important;
  top: -80px!important;
  position: relative!important;
}
@media (max-width: 1023px) {
  .project-description {
    max-width: 100vw;
    margin: 10px;
  }
}
</style>
