<template>
  <section>
    <div v-for="(skill, title) in data">
      <h2 class="sub-title">{{ title }}</h2>
      <div v-if="skill.description" v-html="skill.description" class="description" />
      <div v-if="skill.items" v-for="item in skill.items">
        <h3 v-if="item.title" v-html="item.title" />
        <div v-if="item.description" v-html="item.description" class="description" />
        <div class="icons-container flex">
          <div v-if="item.items" v-for="list in item.items">
            <span v-if="list.svg" v-html="list.svg" :title="getTitleWithYears(list.label, list.since)" class="skill-icon shadow-lg"></span>
            <img v-if="list.img" :title="getTitleWithProficiency(list.label, list.proficiency)" :alt="list.label" :src="list.img" class="skill-icon shadow-lg image" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Skills",
  props: ['data'],
  methods: {
    getTitleWithYears(title, since){
      if(since !== undefined && since !== ''){
        const y = (new Date()).getFullYear() - since;
        return title + ', for about ' + (y > 0 ? y : 1) + ' year' + (y > 1 ? 's.' : '.')
      }
      return title
    },
    getTitleWithProficiency(title, proficiency){
      if(proficiency !== undefined && proficiency !== ''){
        return title + ': ' + proficiency
      }
      return title
    }
  }
}
</script>

<style scoped>
.icons-container{
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: flex-start;
}
.skill-icon{
  width: 100px;
  display: inline-block;
  background: #ffffff;
  padding: 15px;
  margin: 5px 10px;
  border-radius: 5px;
  border: 2px solid #0f141b;
}
.skill-icon.image{
  background: no-repeat;
  border: none;
  padding: 0;
  height: 30px;
  width: auto;
}
h2.sub-title{
  margin: 30px 5px;
  text-align: center;
  color: #d2d4d8;
  font-size: 25px;
  border-bottom: 1px solid #1f2937;
  text-shadow: 1px 1px 1px black;
}
h3{
  margin: 30px 0 0px 0;
  font-size: 22px;
  text-shadow: 1px 1px 1px black;
  color: #d1d5db;
  text-align: center;
}
.description{
  text-align: center;
  font-size: 18px;
}
</style>
