<template>
  <section>
    <div class="social-container flex">
      <div v-for="item in items" class="social">
        <a :href="item.link" target="_blank">
          <i class="social" :class="item.icon"></i>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Social",
  props: ['items']
}
</script>

<style scoped>
.social-container{
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.social{
  margin: -6px 2px;
  font-size: 20px;
  color: #9ca3af;
}
</style>
