<template>
  <div class="map-container">
    <div class="map-title" v-if="showTitle">
      At the moment I am based in {{ city }}, {{ country }}
    </div>
    <div class="worldmap" v-if="showMap">
      <vue-world-map id="worldmap"
                     v-bind:countryData="selectedCountries"
                     v-bind:defaultCountryFillColor="map.defaultCountryFillColor"
                     v-bind:highColor='map.highColor'
                     v-bind:countryStrokeColor='map.countryStrokeColor'
                     v-bind:countryColors="true"

      />
    </div>
  </div>
</template>
<script>
import VueWorldMap from "vue-world-map";

export default {
  components: {
    VueWorldMap
  },
  data() {
    return {
      showMap: false,
      selectedCountries: {},
      city: '',
      country: '',
      code: '',
      map: {
        defaultCountryFillColor: '#4b5563',
        highColor: 'green',
        lowColor: 'red',
        countryStrokeColor: 'black'
      }
    };
  },
  computed: {
    showTitle(){
      return this.city && this.country;
    }
  },
  beforeCreate() {
    fetch("https://cv.marios.com.gr/countries.php?get_countries=1").then(res=>{
      return res.json();
    }).then(res=>{
      res.map(c => {
        if(c.status === "current"){
          this.city = c.city;
          this.country = c.country;
          this.code = c.code;
        }
        this.selectedCountries[c.code] = "white"
      });
      this.showMap = true;
      setTimeout(()=>{
        const el = document.getElementById(this.code);
        if(el){
          el.style.fill = '#c34444';
        }
      }, 200);

    })
  }
};
</script>

<style>
.map-title{
  text-align: center;
  font-size: 24px;
  color: #9ca3af;
  text-shadow: 1px 1px 1px black;
}
.map-container{
  width: 80%;
  margin: 20px auto 0 auto;
}
@media (max-width: 1023px) {
  .map-container {
    width: 100%;
  }
}
</style>
