<template>
  <section>
    <div class="loading" v-if="loading" style="background-image: url('/bg.jpg') ">Loading...</div>
    <div v-if="!loading">
      <MobileMenu :items="menuItems" :social="social" />
      <div class="flex">
        <div class="content flex-auto w-full lg:w-3/4">
          <MainPage :pages="pages" :tools="tools"/>
        </div>
        <div class="menu shadow flex-auto w-1/4 hidden lg:block">
          <Menu :items="menuItems" :social="social"/>
        </div>
      </div>
      <span class="hidden bg-gray-100 bg-gray-200 bg-gray-300 bg-gray-400 bg-gray-500 bg-gray-600 bg-gray-700 bg-gray-800 text-gray-100 text-gray-200 text-gray-300 text-gray-400 text-gray-500 text-gray-600 text-gray-700 text-gray-800" />
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import VueLazyload from 'vue-lazyload'
import { offlineDataJson } from '~/components/lib'
Vue.use(VueLazyload, {
  loading: '/loading-spin.svg'
})
export default Vue.extend({
  name: 'IndexPage',
  head () {
    return {
      link: [
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mr+Dafoe&display=swap' },
        { rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'}
      ]
    }
  },
  data () {
    return{
      menuItems:<object[]>[],
      pages: <object[]>[],
      social: <object>{},
      tools: <object>{},
      loading: true
    }
  },
  methods: {
    renderData(response: any) {
      const results = Object.entries(response);
      this.social = response['contact']['content']['social'];
      this.tools = response['skills']['content']['Experience Skill']["items"];
      results.map(result => {
        const arr = <any>result;
        this.pages.push(result);
        this.menuItems.push({path: arr[0], name: arr[1]["label"], icon: arr[1]["icon"]})
      });
      this.loading = false
    }
  },
  created() {
    fetch('https://cv.marios.com.gr/cv.php?type=json',  {
      headers: {
        'Accept': 'application/json'
      }
    })
      .then(res => {
        return res.json()
      })
      .then(response => {
        this.renderData(response);
      })
      .catch((error) => {
        this.renderData(offlineDataJson);
        console.error('Error:', error);
      });
  }
})
</script>
<style>

</style>
<style scoped>
.content,
.menu{
  height: 100vh;
}
::v-deep .tools{
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}
::v-deep .tool{
  width: 25px;
  position: relative;
  display: block;
  padding: 3px;
  border-radius: 50px;
  box-shadow: 0 0 5px #6a707b;
  margin: 1px 3px;
  filter: grayscale(1);
}
::v-deep .tool:hover{
  filter: grayscale(0);
}
.loading{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 200vw 200vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 5px black;
}
@media (max-width: 1023px) {
  ::v-deep .tools {
    justify-content: center;
  }
  ::v-deep .tool {
    filter: grayscale(0);
    margin: 0 3px;
  }
}
</style>
